@import 'colorAndFont';

.aboutContainer {
    color: $text;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
}

.aboutContainer a {
    color: $text;
}

.aboutContainer img {
    width: 80%;
    height: auto;
    border-bottom: 2px solid $text;
    padding-bottom: 25px;
}

.content {
    width: 80%;
    display: felx;
    flex-direction: column;
    align-items: flex-start;
}

.content p {
    font-size: large;
}