/*
Colors:
*/
$text: white;
$primary: #00171F;
$secondary: #003459;
$ternary: #007EA7;
$light-blue: #00A8E8;

/*
Font
*/
@import url('https://fonts.googleapis.com/css?family=Fauna+One|Julius+Sans+One&display=swap');
$primary-font: 'Fauna One', serif;
$title-font: 'Julius Sans One', sans-serif;