/*
Colors:
*/
$text: white;
$primary: #00171F;
$secondary: #003459;
$ternary: #007EA7;
$light-blue: #00A8E8;

/*
Font
*/

@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
$primary-font: 'Kelly Slab', cursive;