@import 'colorAndFont';

.imgContainer {
    position: fixed;
    left: 0;
    top: 40%;
    width: 45px;
    display: block;
    margin-left: 15px;
}

.imgContainer img {
    width: 45px;
    height: 45px;
    margin-bottom: 10px;
}
.imgContainer img:hover {
    border-radius: 30px;
    animation-duration: 4s;
    animation-name: onHoverImg;
}

@keyframes onHoverImg {
    from {
        width: 45px;
        height: 45px;
    }

    10% {
        width: 55px;
        height: 55px;
        margin-bottom: 0;
        transform: rotate(-360deg);
    }

    to {
        width: 55px;
        height: 55px;
        margin-bottom: 0;
        transform: rotate(-360deg);
    }
}

@media only screen and (max-width: 800px) {

    .imgContainer {
        display: none;
    }
}
