@import 'colorAndFont';

.home {
    position: absolute;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
}

.name {
    margin-right: 4%;
    margin-top: 6.5%;
    color: $text;
    padding: 10px;
}

.name h1 {
    margin: 0;
    font-size: 520%;
}

.name h3 {
    position: absolute;
    margin-top: -17px;
    margin-left: 255px;
}

.logo{
    width: 370px;
    height: auto;
    margin-left: 16%;
    margin-top: 1%;
}

@media only screen and (max-width: 800px) {
    .home {
        display: block;
        position: absolute;
        width: 100%;
    }

    .logo {
        margin-left: 10%;
        width: 80%;
    }
}


