@import url('https://fonts.googleapis.com/css?family=Kelly+Slab&display=swap');
@import 'colorAndFont';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $primary;
  font-family: $primary-font;
}
h2, h3, h4, h5, h6 {
  font-family: $title-font;
}