@import 'colorAndFont';

.skillsContainer {
    color: $text;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-left: 5%;
    margin-bottom: 100px;
}
