@import "colorAndFont";

.skillCard {
    border-bottom: 2px solid $text;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.skillCard img {
    height: 170px;
    width: auto;
    margin-bottom: -13px;
}

@media only screen and (max-width: 800px) {
    .skillCard {
        width: 100%;
    }
}